body {
    background-color: #286bf3;
}

h1 {
    color: #91f112;
}
.page-subtitle {
    color: white;
}

.card {
    border-radius: 12px;
}

footer {
    font-size: 0.9rem;
}

background {
    background-color: #99f10b;
}
.singer-column {
    padding: 0;
}

.singer-card {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.singer-image {
    width: 100%;       /* fill the column width */
    height: 100%;      /* fill the available height */
    display: block;
    object-fit: cover; /* crop instead of stretching */
}

.singer-name {
    margin: 0;
    padding: 8px;
}